.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    border: 1px solid green;
    border-radius: 3px;
    padding: 10px;
    width: 30%;
    background-color: lightgreen;

    font-size: 20px;
}
.animal-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}